@import url("assets/Futura.ttc");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

hr {
  display: flex;
  border-top: 1px solid #c8c8c8;
}

#nav-title {
  margin-right: auto;
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-size: 30px;
  color: #373737;
}

#mySidenav{
  display: none;
}

.float, .float2{
  display: none;
}

@media (max-width: 1120px){
 .navbar{
  display: none;
 }

 #mySidenav{
  display: block;
}

.float, .float2{
  display: block;
}

 #mySidenav a {
  margin-top: 70px;
  color: #ffffff;
  font-family: "Futura", sans-serif;
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px; 
  border-radius: 0 5px 5px 0;
  text-align: right;
}

#mySidenav a:hover, #mySidenav a:active{
  left: 0;
  background-color: #6F00FF;
}

#about {
  top: 20px;
  background-color: #9747ff;
}

#blog {
  top: 80px;
  background-color: #9747ff; /* Blue */
}

#contact {
  top: 140px;
  background-color: #9747ff; /* Light Black */
}

#linkedin {
  top: 200px;
  background-color: #9747ff; /* Light Black */
}

#mail {
  top: 260px;
  background-color: #9747ff; /* Light Black */
}

#floatdiv{
  display: none;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#6F00FF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#6F00FF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float2{
	margin-top:22px;
}


}

span{
  color: #6F00FF;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707070;
}

header a:hover {
  color: #6F00FF;
}

.project-container {
  width: 60%;
  margin: 0 auto;
}

.explanation-container {
  width: 60%;
  margin: 0 auto;
}

.png img{
  width: 30%;
}

.project {
  display: flex;
  align-items: center;
  margin-top: 250px;
}

.project-info h1 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  color: #373737;
  text-align: center;
}

.project-info p {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 38px;
  color: #707070;
  text-align: center;
}

@media (max-width: 1120px){
  .project-info h1{
    font-size: 30px;
    line-height: 38px;
  }

  .project-info p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
  padding-bottom: 10px;
  }
}

.center {
  text-align: center;
}

.button {
  background: #9747FF;
  border-radius: 30px;
  width: 156px;
  height: 52px;
  border: none;
}

button:hover {
  background-color: #6F00FF;
}

.button a {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

 .fa-chevron-left {
  color: #9747FF;
  padding-right: 70px;
}

.fa-chevron-right {
  color: #9747FF;
  padding-left: 70px;
}

#soluciontxt{
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  color: #373737;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
}

.imgProject img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.explanation {
  margin-top: 80px;
}

.explanation-info h1 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  color: #373737;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 1120px){
  .explanation h1{
    font-size: 30px;
    line-height: 38px;
  }

  .explanation .explanation-info p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
  padding-bottom: 10px;
  }
  video{
    width: 100%;
  }
}

.explanation-img h1 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  color: #373737;
  padding-top: 50px;
  text-align: center;
}

h6 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  color: #373737;
  text-align: center;
}

.explanation li{
  list-style: none;
  display: flex;
  display: inline-block;
  padding: 20px;
}

.explanation-info p {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding-top: 40px;
  line-height: 38px;
  color: #707070;
  text-align: center;
  text-align: justify;
}

.explanation-img img{
  width: 100%;
}

.explanationuser-img img{
  width: 100%;
}

.explanationuser-img{
  padding-top: 30px;
  text-align: center;
}

.research {
  text-align: center;
}

.researchinterviews-img img{
  width: 70%;
}

.solucion {
  text-align: center;
}

.solucion-img img{
  width: 100%;
}

.researchinterviews-img{
  background-color: #F9F4FF;
}

.researchencuestas-img img{
  width: 70%;
}

.card-title h1{
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  color: #373737;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.card-container {
  width: 15%;
  background-color: white;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0px 5px 6px rgba(67, 73, 97, 0.08);
}

.card-info h6 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  color: #373737;
  text-align: center;
}

.card-info p {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 32px;
  color: #707070;
  text-align: center;
}

.medium-image {
  padding-top: 60px;
  width: 100%;
}

.footer-img img {
  display: block;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #9747FF;
  color: white;
  text-align: center;
}

.footer h6 {
  font-family: "Futura";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-top: 16px;
}

.mobile-content {
  display: none;
}

@media (max-width: 1120px) {
  .mobile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .desktop-content {
    display: none;
  }
}

.mobile-content h1{
  font-family: 'Futura',sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    color: #373737;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#floatdiv{
  position:absolute;  
  width:200px;
  height:150px;
  top:10px;
  right:10px;  
  padding:16px;
  background:#FFFFFF;  
  border:1px solid #9747FF;
  box-shadow: 1px 1px 13px rgba(67, 73, 97, 0.25);
  border-radius: 20px;
  z-index:100;
}

#floatdiv li a{
  font-family: "Futura";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
}

#floatdiv li{
  padding: 8px;
  text-align: center;
}

#floatdiv li a:hover{
  color: #6F00FF;
}

#linear-wipe {
  background: linear-gradient(to right, #7101FF 20%, #6100FF 40%, #FF008A 60%, #FFC83A 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}