@import url("assets/Futura.ttc");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

/*
.mobile-content {
  display: none;
}

@media (max-width: 768px) {
  .mobile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .desktop-content {
    display: none;
  }
}

.mobile-content h1 {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  color: #373737;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(assets/index/bg.png)no-repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 900px;
}

.container img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.container h2{
  font-family: "Futura", sans-serif;
  z-index: 1;
  position: relative;
  color: #303030;
  font-size: 36px;
  font-weight: 900;
}

.container h2 span{
  font-family: "hind", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #9747FF;
  color: white;
  text-align: center;
}

.footer h6 {
  font-family: "Futura";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-top: 16px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;

}

hr {
  display: flex;
  border-top: 1px solid #c8c8c8;
}

#nav-title {
  margin-right: auto;
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  color: #373737;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707070;
}

header a:hover {
  color: #6F00FF;
}

.button{
  z-index: 1;
}
