@import url("assets/Futura.ttc");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/index/bg.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

#mySidenav {
  display: none;
}

@media (max-width: 1120px) {
  .navbar {
    display: none;
  }

  #mySidenav{
    display: block;
  }
  
   #mySidenav a {
    margin-top: 70px;
    color: #ffffff;
    font-family: "Futura", sans-serif;
    position: absolute;
    left: -60px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px; 
    border-radius: 0 5px 5px 0;
    text-align: right;
  }

  .container{
    z-index: -1;
  }

  #mySidenav a:hover,
  #mySidenav a:active {
    left: 0;
    background-color: #6f00ff;
  }

  #about {
    top: 20px;
    background-color: #9747ff;
  }

  #blog {
    top: 80px;
    background-color: #9747ff; /* Blue */
  }

  #contact {
    top: 140px;
    background-color: #9747ff; /* Light Black */
  }

  #linkedin {
    top: 200px;
    background-color: #9747ff; /* Light Black */
  }

  #mail {
    top: 260px;
    background-color: #9747ff; /* Light Black */
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 900px;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.container h2 {
  font-family: "Futura", sans-serif;
  z-index: 1;
  position: relative;
  color: #303030;
  font-size: 36px;
  font-weight: 900;
}

.container h2 span {
  font-family: "hind", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #9747ff;
  color: white;
  text-align: center;
}

@media (max-width: 1120px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.footer h6 {
  font-family: "Futura";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-top: 16px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

hr {
  display: flex;
  border-top: 1px solid #c8c8c8;
}

#nav-title {
  margin-right: auto;
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-size: 30px;
  color: #373737;
}

span {
  color: #6f00ff;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707070;
}

header a:hover {
  color: #6f00ff;
}

.float{
	position:absolute;
	width: 198px;
  height: 52px;
	bottom:15%;
	background-color:#9747FF;
  left: 30%;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 16px 50px rgba(182, 119, 255, 0.47);
  z-index: 1;
}

a.float {
  text-decoration: none;
  font-family: "Futura", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding: 16px 30px;
}

#linear-wipe {
  background: linear-gradient(to right, #7101FF 20%, #6100FF 40%, #FF008A 60%, #FFC83A 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}