body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

canvas{
    border-image: linear-gradient(#6F00FF, #7101FF, #FF008A) 30;
    border-width: 8px;
    border-style: solid;
    box-shadow: 8px 8px 82px rgba(0, 0, 0, 0.35);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
  }
  
  hr {
    display: flex;
    border-top: 1px solid #c8c8c8;
  }
  
  #nav-title {
    margin-right: auto;
    font-family: "Futura", sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #373737;
  }

  span{
    color: #6F00FF;
  }
  
  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  header a {
    text-decoration: none;
    font-family: "Futura", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707070;
  }
  
  header a:hover {
    color: #6F00FF;
  }

  #mySidenav{
    display: none;
  }
  
  @media (max-width: 1120px){

  } 
  
  #linear-wipe {
    background: linear-gradient(to right, #7101FF 20%, #6100FF 40%, #FF008A 60%, #FFC83A 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .bg-white.max-w-md.w-90.p-6.text-center.rounded-2xl{
    box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.15);
  }
